### Polars Data Structures: `DataFrame` and `Series`

`DataFrame`

A `DataFrame` in Polars is a 2D table structure, similar to Pandas. It consists of rows and columns, where each column is a `Series`.

In [ ]:
!pip install polars

In [2]:
import polars as pl

### Creating a DataFrame

A `DataFrame` in Polars is a 2D table structure.

In [3]:
# Creating a DataFrame from a dictionary
df = pl.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
})
print(df)

# OR

df.head()

shape: (3, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ city        │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i64 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Alice   ┆ 25  ┆ New York    │
│ Bob     ┆ 30  ┆ Los Angeles │
│ Charlie ┆ 35  ┆ Chicago     │
└─────────┴─────┴─────────────┘

shape: (3, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ city        │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i64 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Alice   ┆ 25  ┆ New York    │
│ Bob     ┆ 30  ┆ Los Angeles │
│ Charlie ┆ 35  ┆ Chicago     │
└─────────┴─────┴─────────────┘

### Creating a Series

A `Series` is a single column of data within a DataFrame.

In [4]:
# Create a Series from a list
series = pl.Series('age', [25, 30, 35])
print(series)

# OR

series.head()

shape: (3,)
Series: 'age' [i64]
[
	25
	30
	35
]

shape: (3,)
Series: 'age' [i64]
[
	25
	30
	35
]