In [ ]:
!pip install polars

In [2]:
import polars as pl
import numpy as np

### Reading our dataset (CSV file)

In [57]:
df = pl.read_csv('../sales.csv')

### Basic Operations

In [29]:
# (rows amount, columns amount)
df.shape

(10000000, 9)

In [30]:
# Prints the header, column types and the first five rows
df.head()

shape: (5, 9)
┌─────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ product ┆ buyer      ┆ buyer_pho ┆ shipped_t ┆ … ┆ seller_ph ┆ date      ┆ sale_pric ┆ units_sol │
│ ---     ┆ ---        ┆ ne        ┆ o         ┆   ┆ one       ┆ ---       ┆ e         ┆ d         │
│ str     ┆ str        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ ---       ┆ ---       │
│         ┆            ┆ str       ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆ i64       │
╞═════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ around  ┆ Sandra     ┆ 374-681-5 ┆ PSC 2714, ┆ … ┆ (706)926- ┆ 2021-06-2 ┆ 449.37    ┆ 1         │
│         ┆ Bird       ┆ 363       ┆ Box 5664  ┆   ┆ 0394      ┆ 1         ┆           ┆           │
│         ┆            ┆           ┆ APO AA    ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ 1886…     ┆   ┆           ┆           ┆           ┆           │
│ serious ┆ Arthur     ┆ 237.469.5 ┆ 1047      ┆ … ┆ 633-564-5 ┆ 2020-01-2 ┆ 194.08    ┆ 2         │
│         ┆ Taylor     ┆ 581       ┆ Taylor    ┆   ┆ 015x617   ┆ 6         ┆           ┆           │
│         ┆            ┆           ┆ Inlet     ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ Woodsboro ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ ugh…      ┆   ┆           ┆           ┆           ┆           │
│ result  ┆ Jason      ┆ 822.549.7 ┆ 40260     ┆ … ┆ +1-703-66 ┆ 2021-09-3 ┆ 775.79    ┆ 2         │
│         ┆ Morales    ┆ 199       ┆ Torres    ┆   ┆ 6-4442x46 ┆ 0         ┆           ┆           │
│         ┆            ┆           ┆ Crest     ┆   ┆ 70        ┆           ┆           ┆           │
│         ┆            ┆           ┆ Danielshi ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ re…       ┆   ┆           ┆           ┆           ┆           │
│ animal  ┆ Jeffrey    ┆ 001-455-6 ┆ USNV      ┆ … ┆ 699.796.0 ┆ 2021-08-1 ┆ 236.14    ┆ 1         │
│         ┆ Jones      ┆ 80-8387   ┆ Rojas     ┆   ┆ 389x23951 ┆ 6         ┆           ┆           │
│         ┆            ┆           ┆ FPO AA    ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ 01224     ┆   ┆           ┆           ┆           ┆           │
│ away    ┆ Jason      ┆ 001-592-4 ┆ 07338     ┆ … ┆ +1-703-66 ┆ 2021-10-2 ┆ 389.89    ┆ 7         │
│         ┆ Garner     ┆ 91-8366   ┆ Maureen   ┆   ┆ 6-4442x46 ┆ 8         ┆           ┆           │
│         ┆            ┆           ┆ Plaza     ┆   ┆ 70        ┆           ┆           ┆           │
│         ┆            ┆           ┆ Apt. 924  ┆   ┆           ┆           ┆           ┆           │
│         ┆            ┆           ┆ M…        ┆   ┆           ┆           ┆           ┆           │
└─────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [32]:
# Prints a list with the column types in order
df.dtypes

[String, String, String, String, String, String, String, Float64, Int64]

### Selecting and Filtering Data

Here I'll do operations that are similar to the **SELECT** and **WHERE** commands in **SQL**.

In [81]:
# SQL SELECT type of operation. Just selecting columns
result = df.select(['product', 'date', 'sale_price']).head()
print(result)

shape: (5, 3)
┌─────────┬────────────┬────────────┐
│ product ┆ date       ┆ sale_price │
│ ---     ┆ ---        ┆ ---        │
│ str     ┆ str        ┆ f64        │
╞═════════╪════════════╪════════════╡
│ around  ┆ 2021-06-21 ┆ 449.37     │
│ serious ┆ 2020-01-26 ┆ 194.08     │
│ result  ┆ 2021-09-30 ┆ 775.79     │
│ animal  ┆ 2021-08-16 ┆ 236.14     │
│ away    ┆ 2021-10-28 ┆ 389.89     │
└─────────┴────────────┴────────────┘

In [113]:
# 'with_columns' keeps all the original columns and 
#   adds a new one 'total' calculating the total of each sales
result = df.with_columns([
    (pl.col('sale_price') * pl.col('units_sold')).alias('total')
]).sort('product')
print(result)

shape: (10_000_000, 10)
┌──────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬─────────┐
│ product  ┆ buyer      ┆ buyer_phon ┆ shipped_t ┆ … ┆ date      ┆ sale_pric ┆ units_sol ┆ total   │
│ ---      ┆ ---        ┆ e          ┆ o         ┆   ┆ ---       ┆ e         ┆ d         ┆ ---     │
│ str      ┆ str        ┆ ---        ┆ ---       ┆   ┆ str       ┆ ---       ┆ ---       ┆ f64     │
│          ┆            ┆ str        ┆ str       ┆   ┆           ┆ f64       ┆ i64       ┆         │
╞══════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═════════╡
│ Democrat ┆ Linda      ┆ +1-465-894 ┆ 06833     ┆ … ┆ 2024-01-1 ┆ 847.42    ┆ 5         ┆ 4237.1  │
│          ┆ Bullock    ┆ -4725x9675 ┆ Jackson   ┆   ┆ 5         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Shoals    ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Suite     ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ 676…      ┆   ┆           ┆           ┆           ┆         │
│ Democrat ┆ Eric Nunez ┆ 819-554-96 ┆ 5371      ┆ … ┆ 2023-11-1 ┆ 795.38    ┆ 3         ┆ 2386.14 │
│          ┆            ┆ 09         ┆ Mcdonald  ┆   ┆ 9         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Islands   ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Apt. 449… ┆   ┆           ┆           ┆           ┆         │
│ Democrat ┆ Theresa    ┆ 521-596-90 ┆ 90733     ┆ … ┆ 2020-06-2 ┆ 806.02    ┆ 2         ┆ 1612.04 │
│          ┆ West       ┆ 54x65477   ┆ Eric      ┆   ┆ 7         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Lights    ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Suite 797 ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ La…       ┆   ┆           ┆           ┆           ┆         │
│ Democrat ┆ Janet      ┆ +1-392-396 ┆ 09613     ┆ … ┆ 2023-05-0 ┆ 780.46    ┆ 10        ┆ 7804.6  │
│          ┆ Smith      ┆ -4476      ┆ Young     ┆   ┆ 1         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Mountains ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Port Ale… ┆   ┆           ┆           ┆           ┆         │
│ Democrat ┆ Leah       ┆ 309.222.70 ┆ 19867     ┆ … ┆ 2023-01-1 ┆ 833.75    ┆ 5         ┆ 4168.75 │
│          ┆ Morrison   ┆ 08         ┆ James     ┆   ┆ 2         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Circles   ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Suite 513 ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ …         ┆   ┆           ┆           ┆           ┆         │
│ …        ┆ …          ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …       │
│ yourself ┆ Kimberly   ┆ +1-548-656 ┆ 30482     ┆ … ┆ 2022-12-0 ┆ 197.88    ┆ 7         ┆ 1385.16 │
│          ┆ Williams   ┆ -8185x8007 ┆ Cisneros  ┆   ┆ 6         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Trail     ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ East      ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Jeff…     ┆   ┆           ┆           ┆           ┆         │
│ yourself ┆ Billy      ┆ 5823622952 ┆ 98655     ┆ … ┆ 2023-11-1 ┆ 195.39    ┆ 1         ┆ 195.39  │
│          ┆ Richardson ┆            ┆ Blair     ┆   ┆ 9         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Views     ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Apt. 868  ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Wes…      ┆   ┆           ┆           ┆           ┆         │
│ yourself ┆ Kathryn    ┆ 490.562.84 ┆ 10966     ┆ … ┆ 2022-07-2 ┆ 178.15    ┆ 4         ┆ 712.6   │
│          ┆ Jackson    ┆ 77         ┆ Gilbert   ┆   ┆ 5         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Plaza     ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ New       ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Diamon…   ┆   ┆           ┆           ┆           ┆         │
│ yourself ┆ Megan      ┆ (229)323-2 ┆ 8916      ┆ … ┆ 2021-09-0 ┆ 203.07    ┆ 10        ┆ 2030.7  │
│          ┆ Morgan     ┆ 073        ┆ Raymond   ┆   ┆ 3         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Streets   ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Suite     ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ 746…      ┆   ┆           ┆           ┆           ┆         │
│ yourself ┆ Amber      ┆ +1-371-325 ┆ 8389      ┆ … ┆ 2022-08-1 ┆ 179.1     ┆ 5         ┆ 895.5   │
│          ┆ Brown      ┆ -2284x3202 ┆ Kristi    ┆   ┆ 2         ┆           ┆           ┆         │
│          ┆            ┆            ┆ Prairie   ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ East      ┆   ┆           ┆           ┆           ┆         │
│          ┆            ┆            ┆ Raymo…    ┆   ┆           ┆           ┆           ┆         │
└──────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴─────────┘

In [114]:
# Here, we select only the relevant columns and calculates the total of each sales
result = df.select(
    pl.col('product'), 
    (pl.col('sale_price') * pl.col('units_sold')).alias('total')
).sort('product')
print(result)

shape: (10_000_000, 2)
┌──────────┬─────────┐
│ product  ┆ total   │
│ ---      ┆ ---     │
│ str      ┆ f64     │
╞══════════╪═════════╡
│ Democrat ┆ 4237.1  │
│ Democrat ┆ 2386.14 │
│ Democrat ┆ 1612.04 │
│ Democrat ┆ 7804.6  │
│ Democrat ┆ 4168.75 │
│ …        ┆ …       │
│ yourself ┆ 1385.16 │
│ yourself ┆ 195.39  │
│ yourself ┆ 712.6   │
│ yourself ┆ 2030.7  │
│ yourself ┆ 895.5   │
└──────────┴─────────┘

In [ ]:
# Groups by product and calculates the total sales of each product
result = df.group_by('product').agg([ 
    (pl.col('sale_price') * pl.col('units_sold')).sum().round(2).alias('total')
]).sort('product')

result = result.with_columns(pl.col('total').cast(pl.Utf8))

print(result)

shape: (250, 2)
┌────────────┬──────────────┐
│ product    ┆ total        │
│ ---        ┆ ---          │
│ str        ┆ str          │
╞════════════╪══════════════╡
│ Democrat   ┆ 183830389.88 │
│ Republican ┆ 205137742.44 │
│ TV         ┆ 64820230.5   │
│ a          ┆ 208693462.96 │
│ ability    ┆ 187194379.53 │
│ …          ┆ …            │
│ woman      ┆ 207755340.87 │
│ world      ┆ 110082843.34 │
│ write      ┆ 10849905.07  │
│ wrong      ┆ 110659753.69 │
│ yourself   ┆ 40724633.81  │
└────────────┴──────────────┘

In [ ]:
# Groups by product and date and makes some calculations, 
#   like total_units_sold and total for each day
result = df.group_by(['product', 'date']).agg([
    pl.col('sale_price').mean().round(2).alias('mean_sale_price'),
    pl.col('units_sold').mean().round(2).alias('mean_units_sold'),
    pl.col('units_sold').sum().round(2).alias('total_units_sold'),
    (pl.col('sale_price') * pl.col('units_sold')).sum().round(2).alias('total'),
]).sort('product','date')

result = result.with_columns(pl.col('total').cast(pl.Utf8))

print(result)

shape: (457_000, 6)
┌──────────┬────────────┬─────────────────┬─────────────────┬──────────────────┬───────────┐
│ product  ┆ date       ┆ mean_sale_price ┆ mean_units_sold ┆ total_units_sold ┆ total     │
│ ---      ┆ ---        ┆ ---             ┆ ---             ┆ ---              ┆ ---       │
│ str      ┆ str        ┆ f64             ┆ f64             ┆ i64              ┆ str       │
╞══════════╪════════════╪═════════════════╪═════════════════╪══════════════════╪═══════════╡
│ Democrat ┆ 2020-01-01 ┆ 836.34          ┆ 5.89            ┆ 106              ┆ 88791.24  │
│ Democrat ┆ 2020-01-02 ┆ 846.19          ┆ 5.45            ┆ 109              ┆ 92238.93  │
│ Democrat ┆ 2020-01-03 ┆ 815.92          ┆ 6.05            ┆ 127              ┆ 103810.28 │
│ Democrat ┆ 2020-01-04 ┆ 821.25          ┆ 5.3             ┆ 106              ┆ 87540.83  │
│ Democrat ┆ 2020-01-05 ┆ 843.97          ┆ 5.09            ┆ 117              ┆ 97222.61  │
│ …        ┆ …          ┆ …               ┆ …               ┆ …                ┆ …         │
│ yourself ┆ 2024-12-28 ┆ 188.2           ┆ 5.52            ┆ 160              ┆ 30168.38  │
│ yourself ┆ 2024-12-29 ┆ 182.65          ┆ 5.31            ┆ 69               ┆ 12711.83  │
│ yourself ┆ 2024-12-30 ┆ 185.6           ┆ 6.33            ┆ 152              ┆ 27941.92  │
│ yourself ┆ 2024-12-31 ┆ 183.99          ┆ 5.46            ┆ 142              ┆ 26216.65  │
│ yourself ┆ 2025-01-01 ┆ 191.19          ┆ 5.24            ┆ 131              ┆ 25185.46  │
└──────────┴────────────┴─────────────────┴─────────────────┴──────────────────┴───────────┘

In [78]:
# Selecting sales with a total greater than 5 thousand
result = df.filter((pl.col('sale_price') * pl.col('units_sold')) > 5000)
print(result)

shape: (1_959_582, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ product   ┆ buyer     ┆ buyer_pho ┆ shipped_t ┆ … ┆ seller_ph ┆ date      ┆ sale_pric ┆ units_so │
│ ---       ┆ ---       ┆ ne        ┆ o         ┆   ┆ one       ┆ ---       ┆ e         ┆ ld       │
│ str       ┆ str       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ environme ┆ Donald    ┆ 421.222.6 ┆ 5902 Joe  ┆ … ┆ (488)584- ┆ 2020-05-1 ┆ 724.4     ┆ 9        │
│ ntal      ┆ Byrd      ┆ 555       ┆ Circles   ┆   ┆ 1495x723  ┆ 4         ┆           ┆          │
│           ┆           ┆           ┆ Apt. 546  ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Lake…     ┆   ┆           ┆           ┆           ┆          │
│ else      ┆ Stephanie ┆ 648.661.6 ┆ 333 Neal  ┆ … ┆ 633-564-5 ┆ 2023-10-0 ┆ 660.22    ┆ 8        │
│           ┆ Garcia    ┆ 245x7319  ┆ Parkway   ┆   ┆ 015x617   ┆ 3         ┆           ┆          │
│           ┆           ┆           ┆ Lake      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Shawn, F… ┆   ┆           ┆           ┆           ┆          │
│ populatio ┆ Scott     ┆ 633-747-2 ┆ 624 Sarah ┆ … ┆ +1-557-34 ┆ 2022-05-1 ┆ 807.84    ┆ 9        │
│ n         ┆ Herring   ┆ 711x3224  ┆ Groves    ┆   ┆ 2-4071x43 ┆ 2         ┆           ┆          │
│           ┆           ┆           ┆ Apt. 048  ┆   ┆ 045       ┆           ┆           ┆          │
│           ┆           ┆           ┆ Port…     ┆   ┆           ┆           ┆           ┆          │
│ lose      ┆ Scott     ┆ (807)492- ┆ 8457      ┆ … ┆ 516.266.7 ┆ 2023-11-3 ┆ 875.66    ┆ 8        │
│           ┆ Jordan    ┆ 1889      ┆ Kenneth   ┆   ┆ 042x4944  ┆ 0         ┆           ┆          │
│           ┆           ┆           ┆ Pines     ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Suite 577 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ R…        ┆   ┆           ┆           ┆           ┆          │
│ collectio ┆ Willie    ┆ 414.263.5 ┆ 6278      ┆ … ┆ +1-589-67 ┆ 2023-12-2 ┆ 814.56    ┆ 10       │
│ n         ┆ Braun     ┆ 914       ┆ Tiffany   ┆   ┆ 4-1209x09 ┆ 8         ┆           ┆          │
│           ┆           ┆           ┆ Center    ┆   ┆ 0         ┆           ┆           ┆          │
│           ┆           ┆           ┆ Timothymo ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ u…        ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ compare   ┆ Kevin     ┆ 806-616-2 ┆ 018 Avila ┆ … ┆ 410.821.2 ┆ 2024-04-2 ┆ 717.92    ┆ 7        │
│           ┆ Hayden    ┆ 262       ┆ Passage   ┆   ┆ 583       ┆ 3         ┆           ┆          │
│           ┆           ┆           ┆ Suite 028 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ No…       ┆   ┆           ┆           ┆           ┆          │
│ knowledge ┆ Christy   ┆ 795-706-5 ┆ 532       ┆ … ┆ 653-558-0 ┆ 2021-05-2 ┆ 798.91    ┆ 10       │
│           ┆ Miller    ┆ 209       ┆ Jennifer  ┆   ┆ 621       ┆ 4         ┆           ┆          │
│           ┆           ┆           ┆ Freeway   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Apt. 093  ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ …         ┆   ┆           ┆           ┆           ┆          │
│ find      ┆ Jonathan  ┆ 374-385-7 ┆ 651       ┆ … ┆ 709-528-1 ┆ 2023-12-2 ┆ 974.94    ┆ 10       │
│           ┆ Aguirre   ┆ 318x650   ┆ Parker    ┆   ┆ 229x62104 ┆ 0         ┆           ┆          │
│           ┆           ┆           ┆ Course    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Suite 175 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ We…       ┆   ┆           ┆           ┆           ┆          │
│ notice    ┆ Brandon   ┆ +1-697-61 ┆ USNS Frey ┆ … ┆ 001-597-3 ┆ 2020-06-2 ┆ 557.98    ┆ 9        │
│           ┆ Barker    ┆ 6-9605    ┆ FPO AP    ┆   ┆ 78-2058   ┆ 4         ┆           ┆          │
│           ┆           ┆           ┆ 90241     ┆   ┆           ┆           ┆           ┆          │
│ various   ┆ Andres    ┆ 532.403.8 ┆ 4638      ┆ … ┆ (352)521- ┆ 2022-02-2 ┆ 717.21    ┆ 8        │
│           ┆ Hernandez ┆ 115       ┆ Ballard   ┆   ┆ 9180x896  ┆ 8         ┆           ┆          │
│           ┆           ┆           ┆ Lake Apt. ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 597       ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Eas…      ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [79]:
# Number of unique items in the column
result = df.select([
    pl.col('product').n_unique()
])
print(result)

shape: (1, 1)
┌─────────┐
│ product │
│ ---     │
│ u32     │
╞═════════╡
│ 250     │
└─────────┘

In [109]:
# How many times a product was sold
result = df.group_by('product').agg([
    pl.col('product').count().alias('times_sold')
])
print(result)

shape: (250, 2)
┌────────────┬────────────┐
│ product    ┆ times_sold │
│ ---        ┆ ---        │
│ str        ┆ u32        │
╞════════════╪════════════╡
│ huge       ┆ 39700      │
│ man        ┆ 39990      │
│ election   ┆ 39814      │
│ determine  ┆ 39955      │
│ concern    ┆ 39952      │
│ …          ┆ …          │
│ common     ┆ 40328      │
│ film       ┆ 39746      │
│ thing      ┆ 40120      │
│ population ┆ 40130      │
│ knowledge  ┆ 39963      │
└────────────┴────────────┘

In [112]:
# min, med, max, avg selling price of each product
result = df.group_by('product').agg([
    pl.col('sale_price').min().alias('min'),
    pl.col('sale_price').mean().alias('mean'),
    pl.col('sale_price').median().alias('median'),
    pl.col('sale_price').max().alias('max'),
    pl.col('sale_price').std().alias('std'),
])
print(result)

shape: (250, 6)
┌─────────────┬────────┬────────────┬─────────┬─────────┬───────────┐
│ product     ┆ min    ┆ mean       ┆ median  ┆ max     ┆ std       │
│ ---         ┆ ---    ┆ ---        ┆ ---     ┆ ---     ┆ ---       │
│ str         ┆ f64    ┆ f64        ┆ f64     ┆ f64     ┆ f64       │
╞═════════════╪════════╪════════════╪═════════╪═════════╪═══════════╡
│ anything    ┆ 181.42 ┆ 201.660576 ┆ 201.75  ┆ 221.74  ┆ 11.634656 │
│ hold        ┆ 647.91 ┆ 719.812877 ┆ 719.97  ┆ 791.88  ┆ 41.651305 │
│ item        ┆ 748.5  ┆ 831.843318 ┆ 832.15  ┆ 914.82  ┆ 48.207918 │
│ traditional ┆ 607.91 ┆ 675.536333 ┆ 675.76  ┆ 742.99  ┆ 38.937412 │
│ reflect     ┆ 482.99 ┆ 536.775105 ┆ 536.71  ┆ 590.31  ┆ 31.061422 │
│ …           ┆ …      ┆ …          ┆ …       ┆ …       ┆ …         │
│ nation      ┆ 579.74 ┆ 644.568121 ┆ 644.895 ┆ 708.56  ┆ 37.147092 │
│ head        ┆ 821.83 ┆ 913.635801 ┆ 914.03  ┆ 1004.45 ┆ 52.706526 │
│ low         ┆ 222.68 ┆ 247.551465 ┆ 247.56  ┆ 272.16  ┆ 14.279072 │
│ according   ┆ 760.03 ┆ 844.825166 ┆ 844.98  ┆ 928.91  ┆ 48.67417  │
│ performance ┆ 427.65 ┆ 475.195797 ┆ 475.02  ┆ 522.69  ┆ 27.494413 │
└─────────────┴────────┴────────────┴─────────┴─────────┴───────────┘

In [80]:
# Compute describe at a series level
result = df.select([
    pl.col('sale_price')
]).describe()
print(result)

shape: (9, 2)
┌────────────┬────────────┐
│ statistic  ┆ sale_price │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ count      ┆ 1e7        │
│ null_count ┆ 0.0        │
│ mean       ┆ 527.465039 │
│ std        ┆ 291.322533 │
│ min        ┆ 10.05      │
│ 25%        ┆ 275.65     │
│ 50%        ┆ 526.13     │
│ 75%        ┆ 782.35     │
│ max        ┆ 1096.57    │
└────────────┴────────────┘