In [ ]:
!pip install polars

In [2]:
import polars as pl
import numpy as np

### Reading our dataset (CSV file)

In [3]:
df = pl.read_csv('../sales.csv')

### Basic Operations

In [4]:
# (rows amount, columns amount)
df.shape

(10000000, 17)

In [5]:
# Prints the header, column types and the first five rows
df.head()

shape: (5, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ product_n ┆ buyer_nam ┆ buyer_sex ┆ buyer_age ┆ … ┆ unit_pric ┆ payment_m ┆ discount ┆ discount_ │
│ ame       ┆ e         ┆ ---       ┆ ---       ┆   ┆ e         ┆ ethod     ┆ ---      ┆ perc      │
│ ---       ┆ ---       ┆ str       ┆ i64       ┆   ┆ ---       ┆ ---       ┆ bool     ┆ ---       │
│ str       ┆ str       ┆           ┆           ┆   ┆ f64       ┆ str       ┆          ┆ i64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ can       ┆ Joshua    ┆ M         ┆ 22        ┆ … ┆ 347.2     ┆ Google    ┆ false    ┆ 0         │
│           ┆ Williams  ┆           ┆           ┆   ┆           ┆ Pay       ┆          ┆           │
│ class     ┆ Manuel    ┆ M         ┆ 31        ┆ … ┆ 257.44    ┆ Cash      ┆ false    ┆ 0         │
│           ┆ Goodwin   ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│ talk      ┆ James     ┆ M         ┆ 65        ┆ … ┆ 40.1      ┆ Bank      ┆ false    ┆ 0         │
│           ┆ Forbes    ┆           ┆           ┆   ┆           ┆ Transfer  ┆          ┆           │
│ better    ┆ Laura     ┆ F         ┆ 62        ┆ … ┆ 606.33    ┆ Pix       ┆ false    ┆ 0         │
│           ┆ Lopez     ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│ include   ┆ Tiffany   ┆ F         ┆ 39        ┆ … ┆ 466.31    ┆ PayPal    ┆ false    ┆ 0         │
│           ┆ Christens ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│           ┆ en        ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [6]:
# Prints a list with the column types in order
df.dtypes

[String,
 String,
 String,
 Int64,
 String,
 String,
 String,
 String,
 Int64,
 String,
 String,
 String,
 Int64,
 Float64,
 String,
 Boolean,
 Int64]

### Selecting and Filtering Data

Here I'll do operations that are similar to the **SELECT** and **WHERE** commands in **SQL**.

In [10]:
# SQL SELECT type of operation. Just selecting columns
result = df.select(['product_name', 'sale_date', 'unit_price']).head()
print(result)

shape: (5, 3)
┌──────────────┬────────────┬────────────┐
│ product_name ┆ sale_date  ┆ unit_price │
│ ---          ┆ ---        ┆ ---        │
│ str          ┆ str        ┆ f64        │
╞══════════════╪════════════╪════════════╡
│ can          ┆ 2013-11-24 ┆ 347.2      │
│ class        ┆ 2020-08-16 ┆ 257.44     │
│ talk         ┆ 2020-03-09 ┆ 40.1       │
│ better       ┆ 2017-08-20 ┆ 606.33     │
│ include      ┆ 2017-07-24 ┆ 466.31     │
└──────────────┴────────────┴────────────┘

In [13]:
# 'with_columns' keeps all the original columns and 
#   adds a new one 'total' calculating the total of each sales
result = df.with_columns([
    (pl.col('unit_price') * pl.col('units_sold')).alias('total')
]).sort('product_name')
print(result)

shape: (10_000_000, 18)
┌────────────┬────────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬─────────┐
│ product_na ┆ buyer_name ┆ buyer_sex ┆ buyer_age ┆ … ┆ payment_m ┆ discount ┆ discount_ ┆ total   │
│ me         ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ethod     ┆ ---      ┆ perc      ┆ ---     │
│ ---        ┆ str        ┆ str       ┆ i64       ┆   ┆ ---       ┆ bool     ┆ ---       ┆ f64     │
│ str        ┆            ┆           ┆           ┆   ┆ str       ┆          ┆ i64       ┆         │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═════════╡
│ Mr         ┆ Michael    ┆ M         ┆ 33        ┆ … ┆ Credit    ┆ false    ┆ 0         ┆ 3350.4  │
│            ┆ Small      ┆           ┆           ┆   ┆ Card (Mas ┆          ┆           ┆         │
│            ┆            ┆           ┆           ┆   ┆ terCard)  ┆          ┆           ┆         │
│ Mr         ┆ Dr. Ryan   ┆ M         ┆ 73        ┆ … ┆ Bank      ┆ false    ┆ 0         ┆ 2741.06 │
│            ┆ Graves     ┆           ┆           ┆   ┆ Transfer  ┆          ┆           ┆         │
│ Mr         ┆ Carolyn    ┆ F         ┆ 68        ┆ … ┆ Bank      ┆ false    ┆ 0         ┆ 1374.64 │
│            ┆ Haley      ┆           ┆           ┆   ┆ Transfer  ┆          ┆           ┆         │
│ Mr         ┆ Amanda     ┆ F         ┆ 32        ┆ … ┆ Pix       ┆ false    ┆ 0         ┆ 2398.83 │
│            ┆ Cooper     ┆           ┆           ┆   ┆           ┆          ┆           ┆         │
│ Mr         ┆ Amy Roth   ┆ F         ┆ 69        ┆ … ┆ Credit    ┆ false    ┆ 0         ┆ 2037.75 │
│            ┆            ┆           ┆           ┆   ┆ Card (Mas ┆          ┆           ┆         │
│            ┆            ┆           ┆           ┆   ┆ terCard)  ┆          ┆           ┆         │
│ …          ┆ …          ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …         ┆ …       │
│ yeah       ┆ Raymond    ┆ M         ┆ 37        ┆ … ┆ Cryptocur ┆ false    ┆ 0         ┆ 877.3   │
│            ┆ Miller     ┆           ┆           ┆   ┆ rency (Et ┆          ┆           ┆         │
│            ┆            ┆           ┆           ┆   ┆ hereum)   ┆          ┆           ┆         │
│ yeah       ┆ Nicole     ┆ F         ┆ 71        ┆ … ┆ Credit    ┆ false    ┆ 0         ┆ 1698.1  │
│            ┆ Fletcher   ┆           ┆           ┆   ┆ Card      ┆          ┆           ┆         │
│            ┆            ┆           ┆           ┆   ┆ (American ┆          ┆           ┆         │
│            ┆            ┆           ┆           ┆   ┆ Express)  ┆          ┆           ┆         │
│ yeah       ┆ Stephen    ┆ M         ┆ 68        ┆ … ┆ Cash      ┆ false    ┆ 0         ┆ 1713.78 │
│            ┆ Marshall   ┆           ┆           ┆   ┆           ┆          ┆           ┆         │
│ yeah       ┆ Kenneth    ┆ M         ┆ 74        ┆ … ┆ Debit     ┆ true     ┆ 10        ┆ 194.99  │
│            ┆ Jones      ┆           ┆           ┆   ┆ Card      ┆          ┆           ┆         │
│ yeah       ┆ Brenda     ┆ F         ┆ 34        ┆ … ┆ Google    ┆ false    ┆ 0         ┆ 1878.7  │
│            ┆ Nelson     ┆           ┆           ┆   ┆ Pay       ┆          ┆           ┆         │
└────────────┴────────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴─────────┘

In [14]:
# Here, we select only the relevant columns and calculates the total of each sales
result = df.select(
    pl.col('product_name'), 
    (pl.col('unit_price') * pl.col('units_sold')).alias('total')
).sort('product_name')
print(result)

shape: (10_000_000, 2)
┌──────────────┬─────────┐
│ product_name ┆ total   │
│ ---          ┆ ---     │
│ str          ┆ f64     │
╞══════════════╪═════════╡
│ Mr           ┆ 3350.4  │
│ Mr           ┆ 2741.06 │
│ Mr           ┆ 1374.64 │
│ Mr           ┆ 2398.83 │
│ Mr           ┆ 2037.75 │
│ …            ┆ …       │
│ yeah         ┆ 877.3   │
│ yeah         ┆ 1698.1  │
│ yeah         ┆ 1713.78 │
│ yeah         ┆ 194.99  │
│ yeah         ┆ 1878.7  │
└──────────────┴─────────┘

In [15]:
# Groups by product_name and calculates the total sales of each product_name
result = df.group_by('product_name').agg([ 
    (pl.col('unit_price') * pl.col('units_sold')).sum().round(2).alias('total')
]).sort('product_name')

result = result.with_columns(pl.col('total').cast(pl.Utf8))

print(result)

shape: (250, 2)
┌──────────────┬──────────────┐
│ product_name ┆ total        │
│ ---          ┆ ---          │
│ str          ┆ str          │
╞══════════════╪══════════════╡
│ Mr           ┆ 82332030.58  │
│ TV           ┆ 21975665.17  │
│ about        ┆ 121993075.77 │
│ act          ┆ 172140612.42 │
│ action       ┆ 52822069.73  │
│ …            ┆ …            │
│ wish         ┆ 60342924.43  │
│ without      ┆ 190236710.92 │
│ worker       ┆ 129537279.33 │
│ write        ┆ 208092819.59 │
│ yeah         ┆ 40432577.87  │
└──────────────┴──────────────┘

In [16]:
# Groups by product_name and sale_date and makes some calculations, 
#   like total_units_sold and total for each day
result = df.group_by(['product_name', 'sale_date']).agg([
    pl.col('unit_price').mean().round(2).alias('mean_unit_price'),
    pl.col('units_sold').mean().round(2).alias('mean_units_sold'),
    pl.col('units_sold').sum().round(2).alias('total_units_sold'),
    (pl.col('unit_price') * pl.col('units_sold')).sum().round(2).alias('total'),
]).sort('product_name','sale_date')

result = result.with_columns(pl.col('total').cast(pl.Utf8))

print(result)

shape: (1_369_107, 6)
┌──────────────┬────────────┬─────────────────┬─────────────────┬──────────────────┬──────────┐
│ product_name ┆ sale_date  ┆ mean_unit_price ┆ mean_units_sold ┆ total_units_sold ┆ total    │
│ ---          ┆ ---        ┆ ---             ┆ ---             ┆ ---              ┆ ---      │
│ str          ┆ str        ┆ f64             ┆ f64             ┆ i64              ┆ str      │
╞══════════════╪════════════╪═════════════════╪═════════════════╪══════════════════╪══════════╡
│ Mr           ┆ 2010-01-01 ┆ 373.56          ┆ 6.44            ┆ 58               ┆ 21653.31 │
│ Mr           ┆ 2010-01-02 ┆ 367.09          ┆ 5.29            ┆ 37               ┆ 13659.21 │
│ Mr           ┆ 2010-01-03 ┆ 359.18          ┆ 4.8             ┆ 24               ┆ 8635.01  │
│ Mr           ┆ 2010-01-04 ┆ 367.74          ┆ 6.5             ┆ 52               ┆ 19270.76 │
│ Mr           ┆ 2010-01-05 ┆ 366.41          ┆ 5.77            ┆ 75               ┆ 27269.19 │
│ …            ┆ …          ┆ …               ┆ …               ┆ …                ┆ …        │
│ yeah         ┆ 2024-12-28 ┆ 178.5           ┆ 5.5             ┆ 44               ┆ 7717.77  │
│ yeah         ┆ 2024-12-29 ┆ 185.98          ┆ 5.4             ┆ 27               ┆ 4899.39  │
│ yeah         ┆ 2024-12-30 ┆ 181.07          ┆ 6.8             ┆ 34               ┆ 6202.48  │
│ yeah         ┆ 2024-12-31 ┆ 181.07          ┆ 5.89            ┆ 53               ┆ 9584.18  │
│ yeah         ┆ 2025-01-01 ┆ 181.24          ┆ 6.25            ┆ 50               ┆ 8935.16  │
└──────────────┴────────────┴─────────────────┴─────────────────┴──────────────────┴──────────┘

In [18]:
# Selecting sales with a total greater than 5 thousand
result = df.filter((pl.col('unit_price') * pl.col('units_sold')) > 5000)
print(result)

shape: (1_630_629, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ product_n ┆ buyer_nam ┆ buyer_sex ┆ buyer_age ┆ … ┆ unit_pric ┆ payment_m ┆ discount ┆ discount_ │
│ ame       ┆ e         ┆ ---       ┆ ---       ┆   ┆ e         ┆ ethod     ┆ ---      ┆ perc      │
│ ---       ┆ ---       ┆ str       ┆ i64       ┆   ┆ ---       ┆ ---       ┆ bool     ┆ ---       │
│ str       ┆ str       ┆           ┆           ┆   ┆ f64       ┆ str       ┆          ┆ i64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ whole     ┆ Jeffrey   ┆ M         ┆ 28        ┆ … ┆ 979.82    ┆ Pix       ┆ false    ┆ 0         │
│           ┆ Lynch     ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│ law       ┆ Kristophe ┆ M         ┆ 21        ┆ … ┆ 844.51    ┆ Credit    ┆ false    ┆ 0         │
│           ┆ r         ┆           ┆           ┆   ┆           ┆ Card (Mas ┆          ┆           │
│           ┆ Rodriguez ┆           ┆           ┆   ┆           ┆ terCard)  ┆          ┆           │
│ once      ┆ Michael   ┆ M         ┆ 39        ┆ … ┆ 744.83    ┆ Credit    ┆ false    ┆ 0         │
│           ┆ Clark     ┆           ┆           ┆   ┆           ┆ Card (Mas ┆          ┆           │
│           ┆           ┆           ┆           ┆   ┆           ┆ terCard)  ┆          ┆           │
│ reduce    ┆ Karen     ┆ F         ┆ 59        ┆ … ┆ 883.32    ┆ Cryptocur ┆ false    ┆ 0         │
│           ┆ Davis     ┆           ┆           ┆   ┆           ┆ rency (Et ┆          ┆           │
│           ┆           ┆           ┆           ┆   ┆           ┆ hereum)   ┆          ┆           │
│ doctor    ┆ Mary Cole ┆ F         ┆ 50        ┆ … ┆ 505.17    ┆ Cryptocur ┆ false    ┆ 0         │
│           ┆           ┆           ┆           ┆   ┆           ┆ rency     ┆          ┆           │
│           ┆           ┆           ┆           ┆   ┆           ┆ (Bitcoin) ┆          ┆           │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ daughter  ┆ Kristophe ┆ M         ┆ 56        ┆ … ┆ 757.14    ┆ Credit    ┆ true     ┆ 10        │
│           ┆ r         ┆           ┆           ┆   ┆           ┆ Card (Mas ┆          ┆           │
│           ┆ Rodriguez ┆           ┆           ┆   ┆           ┆ terCard)  ┆          ┆           │
│ sound     ┆ Kyle Fry  ┆ M         ┆ 57        ┆ … ┆ 1037.52   ┆ Cash      ┆ false    ┆ 0         │
│ somebody  ┆ Courtney  ┆ F         ┆ 21        ┆ … ┆ 656.95    ┆ Pix       ┆ false    ┆ 0         │
│           ┆ King      ┆           ┆           ┆   ┆           ┆           ┆          ┆           │
│ without   ┆ Tina      ┆ F         ┆ 67        ┆ … ┆ 865.03    ┆ Cryptocur ┆ true     ┆ 5         │
│           ┆ Quinn     ┆           ┆           ┆   ┆           ┆ rency     ┆          ┆           │
│           ┆           ┆           ┆           ┆   ┆           ┆ (Bitcoin) ┆          ┆           │
│ positive  ┆ Michelle  ┆ F         ┆ 44        ┆ … ┆ 763.56    ┆ Cryptocur ┆ false    ┆ 0         │
│           ┆ Tyler     ┆           ┆           ┆   ┆           ┆ rency (Et ┆          ┆           │
│           ┆           ┆           ┆           ┆   ┆           ┆ hereum)   ┆          ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [19]:
# Number of unique items in the column
result = df.select([
    pl.col('product_name').n_unique()
])
print(result)

shape: (1, 1)
┌──────────────┐
│ product_name │
│ ---          │
│ u32          │
╞══════════════╡
│ 250          │
└──────────────┘

In [22]:
# How many times a product_name was sold
result = df.group_by('product_name').agg([
    pl.col('units_sold').sum().alias('times_sold')
])
print(result)

shape: (250, 2)
┌──────────────┬────────────┐
│ product_name ┆ times_sold │
│ ---          ┆ ---        │
│ str          ┆ i64        │
╞══════════════╪════════════╡
│ station      ┆ 221207     │
│ walk         ┆ 219375     │
│ agree        ┆ 220911     │
│ street       ┆ 215889     │
│ better       ┆ 219391     │
│ …            ┆ …          │
│ practice     ┆ 220540     │
│ daughter     ┆ 220102     │
│ national     ┆ 217683     │
│ without      ┆ 220376     │
│ skin         ┆ 220887     │
└──────────────┴────────────┘

In [26]:
# How many times a product_name was sold, day by day
result = df.group_by('product_name', 'sale_date').agg([
    pl.col('units_sold').sum().alias('times_sold')
]).sort('sale_date')
print(result)

shape: (1_369_107, 3)
┌──────────────┬────────────┬────────────┐
│ product_name ┆ sale_date  ┆ times_sold │
│ ---          ┆ ---        ┆ ---        │
│ str          ┆ str        ┆ i64        │
╞══════════════╪════════════╪════════════╡
│ natural      ┆ 2010-01-01 ┆ 48         │
│ building     ┆ 2010-01-01 ┆ 33         │
│ hospital     ┆ 2010-01-01 ┆ 65         │
│ issue        ┆ 2010-01-01 ┆ 51         │
│ new          ┆ 2010-01-01 ┆ 39         │
│ …            ┆ …          ┆ …          │
│ new          ┆ 2025-01-01 ┆ 40         │
│ green        ┆ 2025-01-01 ┆ 41         │
│ however      ┆ 2025-01-01 ┆ 32         │
│ beyond       ┆ 2025-01-01 ┆ 63         │
│ near         ┆ 2025-01-01 ┆ 79         │
└──────────────┴────────────┴────────────┘

In [28]:
# min, med, max, avg selling price of each product_name
result = df.group_by('product_name').agg([
    pl.col('unit_price').min().alias('min'),
    pl.col('unit_price').mean().alias('mean'),
    pl.col('unit_price').median().alias('median'),
    pl.col('unit_price').max().alias('max'),
    pl.col('unit_price').std().alias('std'),
])
print(result)

shape: (250, 6)
┌──────────────┬────────┬────────────┬─────────┬────────┬───────────┐
│ product_name ┆ min    ┆ mean       ┆ median  ┆ max    ┆ std       │
│ ---          ┆ ---    ┆ ---        ┆ ---     ┆ ---    ┆ ---       │
│ str          ┆ f64    ┆ f64        ┆ f64     ┆ f64    ┆ f64       │
╞══════════════╪════════╪════════════╪═════════╪════════╪═══════════╡
│ week         ┆ 189.36 ┆ 210.48729  ┆ 210.44  ┆ 231.43 ┆ 12.141736 │
│ person       ┆ 551.9  ┆ 613.174675 ┆ 613.25  ┆ 674.54 ┆ 35.535322 │
│ what         ┆ 285.09 ┆ 316.687452 ┆ 316.67  ┆ 348.43 ┆ 18.271911 │
│ act          ┆ 710.72 ┆ 789.976492 ┆ 790.05  ┆ 868.66 ┆ 45.573858 │
│ kid          ┆ 207.95 ┆ 231.04859  ┆ 231.11  ┆ 254.17 ┆ 13.362392 │
│ …            ┆ …      ┆ …          ┆ …       ┆ …      ┆ …         │
│ laugh        ┆ 283.76 ┆ 315.289027 ┆ 315.3   ┆ 346.82 ┆ 18.161344 │
│ seem         ┆ 304.61 ┆ 338.432967 ┆ 338.69  ┆ 372.31 ┆ 19.602792 │
│ magazine     ┆ 197.85 ┆ 219.766694 ┆ 219.8   ┆ 241.81 ┆ 12.633401 │
│ figure       ┆ 688.96 ┆ 765.377421 ┆ 765.2   ┆ 842.04 ┆ 44.227154 │
│ find         ┆ 628.34 ┆ 698.177459 ┆ 697.965 ┆ 767.96 ┆ 40.221122 │
└──────────────┴────────┴────────────┴─────────┴────────┴───────────┘

In [29]:
# Compute describe at a series level
result = df.select([
    pl.col('unit_price')
]).describe()
print(result)

shape: (9, 2)
┌────────────┬────────────┐
│ statistic  ┆ unit_price │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ count      ┆ 1e7        │
│ null_count ┆ 0.0        │
│ mean       ┆ 483.838369 │
│ std        ┆ 281.03167  │
│ min        ┆ 10.51      │
│ 25%        ┆ 246.37     │
│ 50%        ┆ 452.64     │
│ 75%        ┆ 724.79     │
│ max        ┆ 1090.23    │
└────────────┴────────────┘